
<h1>Emergencies reports</h1>

<table>
  <tr>
    <th>subject</th>
    <th>Time Posted</th>
    <th>Reporter</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.subject %></td>
      <td><%= post.created_at.strftime("%b %d, %Y")%></td>
      <td><%= post.user.email %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post_path(post),
         method: :delete,
         data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'New Emergency', new_post_path %>


<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
