<div class="margin_left">
<h1>edit ur post here</h1>
</div>

<div class="margin_left">
<p>
  <strong>Subject:</strong>
  <%= @post.subject %>
</p>

<p>
  <strong>categories:</strong>
  <%= @post.categories %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<h2>Comments</h2>
  <% @comments.each do |f| %>
    Commenter:
    <%= f.commenter %><br>

    Comments:<br>
    <%= f.body %><br>

    <%= link_to 'edit comment', edit_post_comment_path(@post, f) %>
    <%= link_to 'delete comment', post_comment_path(@post, f),
    method: :delete,
    data: { confirm: 'Are you sure?' } %> <br><br>
  <% end %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>





<br>
<%= link_to 'Back', posts_path %>
</div>
